* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}

body {
   position: relative;
   height: 100vh;
   background: url(../images/bg.jpg) no-repeat center fixed;
   background-size: cover;
}

.board {
   position: absolute;
   top: 50%;
   left: 65%;
   transform: translate(-50%, -50%);
   display: flex;
   flex-wrap: wrap;
   width: 90vh;
   height: 90vh;
   background-color: rgba(20, 20, 20, 0.75);
   box-shadow: 0 0 2px 1px #fff;
   opacity: 0;
   transition: .5s;
}

.board div {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 14.285%;
   height: 14.285%;
   border: 1px solid black;
   font-size: 3rem;
   color: rgb(239, 232, 232);
}

.hit {
   background-image: url(../images/cellWarship.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
}

.strike {
   background-image: url(../images/x.png);
   background-size: 70%;
   background-repeat: no-repeat;
   background-position: center;
}

.shipHit {
   background-color: rgba(239, 232, 232, .5);
}

.cell:hover {
   background-color: rgba(239, 232, 232, .5);
}

.destroyed {
   background-color: #A61532;
}

.destroyed:hover {
   background-color: #A61532;
}

.statistics {
   position: absolute;
   left: 2%;
   top: 30%;
   text-align: center;
}

.statistics__text {
   margin: 1vh;
   padding: 0 2vh;
   background-color: rgba(255, 255, 255, .6);
   border: 1px solid rgba(20, 20, 20, 1);
   font-size: 30px;
}

.statistics span {
   font-weight: 700;
}

.button {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 2rem 6rem;
   border: 3px solid rgba(20, 20, 20, 1);
   box-shadow: 0 0 2px 1px #fff;
   background-color: rgba(239, 232, 232, 1);
   font-size: 2.8rem;
   line-height: 2;
   text-align: center;
   letter-spacing: 7px;
   color: black;
   transition: .2s;
   cursor: pointer;
}

.button:hover {
   background-color: rgba(20, 20, 20, 1);
   color: rgba(239, 232, 232, .95);
}

@media (max-width:850px) and (orientation: landscape) {
   .board div {
      font-size: 2rem;
   }

   .statistics__text {
      font-size: 1.5rem;
   }

   .button {
      left: 65%;
      padding: 1.5rem 3rem;
   }
}

@media (orientation: portrait) {
   .board {
      top: 2%;
      left: 50%;
      transform: translateX(-50%);
      width: 90vw;
      height: 90vw;
   }

   .board div {
      font-size: 2.5rem;
   }

   .statistics {
      left: 50%;
      top: 91%;
      transform: translateX(-50%);
      width: 95%;
   }

   .statistics__text {
      display: inline-block;
   }

   .button {
      top: 30%;
      left: 50%;
      transform: translateX(-50%);
   }
}

@media (orientation: portrait) and (max-height: 850px) {

   .board div {
      font-size: 100%;
   }

   .statistics {
      left: 50%;
      top: 70%;
   }

   .statistics__text {
      font-size: 1.2rem;
   }


   .button {
      padding: 1.5rem 2rem;
   }
}


/* @media (max-height: 800px) and (orientation: landscape) {
   div.board {
      top: 0;
      right: 0;
      transform: translate(-32%, 1.5%);
      width: 749px;
      height: 749px;
   }

   div.board div {
      width: 107px;
      height: 107px;
      line-height: 107px;
   }

   div.button,
   div.statistics {
      margin: 0 1vh;
      left: 0;
      transform: none;
   }
}


@media (max-width: 825px) and (orientation: landscape) {
   div.board {
      transform: translate(-15%, 4%);
      width: 350px;
      height: 350px;
   }

   div.board div {
      width: 50px;
      height: 50px;
      line-height: 50px;
   }

   div.button,
   div.statistics {
      max-width: 1000px;
      margin: 0 1vh;
      left: 0;
      transform: none;
   }
}

@media (max-width: 650px) and (orientation: landscape) {
   div.board {
      transform: translate(-11%, 1%);
      width: 315px;
      height: 315px;
   }

   div.board div {
      width: 45px;
      height: 45px;
      line-height: 45px;
   }

   button {
      width: 230px;
      height: 80px;
   }
}

@media (max-height: 825px) and (orientation: portrait) {
   div.board {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 350px;
      height: 350px;
   }

   div.board div {
      width: 50px;
      height: 50px;
      line-height: 50px;
   }

   div.statistics {
      width: 75%;
   }

   div.button {
      top: 2vh;
   }

   button {
      width: 230px;
      height: 80px;
   }
}

@media (max-height: 670px) and (orientation: portrait) {
   div.board {
      transform: translate(-50%, -60%);
   }
}

@media (max-height: 570px) and (orientation: portrait) {
   div.board {
      transform: translate(-50%, -60%);
   }

   div.board {
      width: 294px;
      height: 294px;
   }

   div.board div {
      width: 42px;
      height: 42px;
      line-height: 42px;
   }

} */